<div class="col-md-4">
    <h4><b><%= classes[i].title %></b></h4>
    <p><%= classes[i].description %></p>
    <b>Instructor: <%= classes[i].instructor %></b><br>
    <a href="/classes/<%= classes[i]._id %>/details" class="btn btn-primary" style="margin-top:20px">Class details</a>
</div>