<% layout('layout') -%>

<div class="row">
    <div class="col-md-8">
        <h1>Welcome to eLearn</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Voluptate ducimus necessitatibus obcaecati est totam, laboriosam rerum esse quam error? 
            Alias molestiae modi quod error ducimus assumenda, officiis dicta voluptate deserunt!</p>
    </div>
    <div class="col-md-4">
        <% include partials/login.ejs %>
    </div>
</div>
<div class="row">
    <% for (var i = 0; i < classes.length; i++) { %>
        <% include partials/classes.ejs %>
    <% } %>
</div>
